/*
 * at91-sama5d27_som1_ek_common.dtsi - Device Tree file for SAMA5D27-SOM1-EK board
 *
 *  Copyright (c) 2017, Microchip Technology Inc.
 *                2016 Nicolas Ferre <nicolas.ferre@atmel.com>
 *                2017 Cristian Birsan <cristian.birsan@microchip.com>
 *                2017 Claudiu Beznea <claudiu.beznea@microchip.com>
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */
/dts-v1/;
#include "at91-sama5d27_som1.dtsi"
#include <dt-bindings/mfd/atmel-flexcom.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/at91.h>
#include <dt-bindings/input/linux-event-codes.h>
#include <dt-bindings/pwm/pwm.h>

/ {
	model = "Bluestone TE5000";
	compatible = "atmel,bluestone-te5000", "atmel,sama5d27-som1", "atmel,sama5d27", "atmel,sama5d2", "atmel,sama5";

	aliases {
		serial0 = &uart1;	/* DBGU */
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	ahb {
		usb0: gadget@00300000 {
			atmel,vbus-gpio = <&pioA PIN_PD20 GPIO_ACTIVE_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_usba_vbus>;
			status = "okay";
		};

		usb1: ohci@00400000 {
			num-ports = <3>;
			/* Commented out because of conflict with input buttons */
			/* atmel,vbus-gpio = <0 /\* &pioA PIN_PD20 GPIO_ACTIVE_HIGH *\/ */
			/* 		   &pioA PIN_PA27 GPIO_ACTIVE_HIGH */
			/* 		   0 */
			/* 		  >; */
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_usb_default>;
			status = "okay";
		};

		usb2: ehci@00500000 {
			status = "okay";
		};

		sdmmc0: sdio-host@a0000000 {
			bus-width = <4>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_sdmmc0_default>;
			non-removable;
			disable-wp;
			no-1-8-v;
			status = "okay";
		};

		sdmmc1: sdio-host@b0000000 {
			bus-width = <4>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_sdmmc1_default>;
			non-removable;
			disable-wp;
			no-1-8-v;
			status = "okay";
			max-frequency = <500000>; /* Determined experimentally */
			wilc_sdio@0{
				compatible = "atmel,wilc_sdio";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_wilc_default>;
				gpio_reset = <&pioA PIN_PB15 GPIO_ACTIVE_HIGH>;
				gpio_chip_en = <&pioA PIN_PB14 GPIO_ACTIVE_HIGH>;
				gpio_irq = <&pioA PIN_PB16 GPIO_ACTIVE_HIGH>;
				status = "okay";
			};
		};

		apb {
			pmc: pmc@f0014000 {
				pmc_fast_restart {
					compatible = "atmel,sama5d2-pmc-fast-startup";
					#address-cells = <1>;
					#size-cells = <0>;

					atmel,wakeup-rtc-timer;

					wkpin: input@0 {
						reg = <0>;
					};

					gmac_wol: input@10 {
						reg = <10>;
						atmel,wakeup-active-high;
					};
				};
			};

			macb0: ethernet@f8008000 {
				status = "okay";
			};

			uart1: serial@f8020000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_uart1_default>;
				atmel,use-dma-rx;
				atmel,use-dma-tx;
				status = "okay";
			};

			pwm0: pwm@f802c000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_pwm0_default>;
				status = "okay";
			};

			shdwc@f8048010 {
				atmel,shdwc-debouncer = <976>;
				atmel,wakeup-rtc-timer;

				input@0 {
					reg = <0>;
					atmel,wakeup-type = "low";
				};
			};

			watchdog@f8048040 {
				status = "okay";
			};

			flx3: flexcom@fc014000 {
				atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_SPI>;
				status = "disabled";

				uart7: serial@200 {
					compatible = "atmel,at91sam9260-usart";
					reg = <0x200 0x200>;
					interrupts = <22 IRQ_TYPE_LEVEL_HIGH 7>;
					clocks = <&flx3_clk>;
					clock-names = "usart";
					pinctrl-names = "default";
					pinctrl-0 = <&pinctrl_flx3_default>;
					atmel,fifo-size = <32>;
					status = "disabled";
				};
			};

			adc: adc@fc030000 {
					vref-supply = <&vdd_3v3>;
					vddana-supply = <&vdd_3v3>;
					pinctrl-names = "default";
					pinctrl-0 = <&pinctrl_an_default>;
					status = "okay";
			};

			pinctrl@fc038000 {
				pinctrl_flx3_default: flx3_default {
					pinmux = <PIN_PC20__FLEXCOM3_IO0>,
						 <PIN_PC19__FLEXCOM3_IO1>,
						 <PIN_PC21__FLEXCOM3_IO3>,
						 <PIN_PC22__FLEXCOM3_IO4>;
					bias-disable;
				};

				pinctrl_an_default: an_default {
					pinmux = <PIN_PD23__GPIO>,
						 <PIN_PD24__GPIO>;
					bias-disable;
				};

				pinctrl_key_gpio_default: key_gpio_default {
					pinmux = <PIN_PB26__GPIO>,
						 <PIN_PB27__GPIO>,
						 <PIN_PB28__GPIO>;
					bias-pull-up;
				};

				pinctrl_lock_feedback_default: lock_feedback_default {
					pinmux = <PIN_PB2__GPIO>;
					bias-disable;
				};

				pinctrl_beeper_gpio_default: beeper_gpio_default {
					pinmux = <PIN_PB29__GPIO>;
					bias-pull-up;
				};

				pinctrl_backlight_gpio_default: backlight_gpio_default {
					pinmux = <PIN_PA31__GPIO>;
					bias-disable;
				};

				pinctrl_led_gpio_default: led_gpio_default {
					pinmux = <PIN_PA10__GPIO>,
						 <PIN_PB0__GPIO>;
					bias-pull-up;
				};

				pinctrl_sdmmc0_default: sdmmc0_default {
					cmd_data {
						pinmux = <PIN_PA1__SDMMC0_CMD>,
							 <PIN_PA2__SDMMC0_DAT0>,
							 <PIN_PA3__SDMMC0_DAT1>,
							 <PIN_PA4__SDMMC0_DAT2>,
							 <PIN_PA5__SDMMC0_DAT3>;
						bias-disable;
					};

					ck_cd_vddsel {
						pinmux = <PIN_PA0__SDMMC0_CK>;
						bias-disable;
					};
				};

				pinctrl_sdmmc1_default: sdmmc1_default {
					cmd_data {
						pinmux = <PIN_PA28__SDMMC1_CMD>,
							 <PIN_PA18__SDMMC1_DAT0>,
							 <PIN_PA19__SDMMC1_DAT1>,
							 <PIN_PA20__SDMMC1_DAT2>,
							 <PIN_PA21__SDMMC1_DAT3>;
						bias-disable;
					};

					conf-ck_cd {
						pinmux = <PIN_PA22__SDMMC1_CK>;
						bias-disable;
					};
				};

				pinctrl_wilc_default: wilc_default {
					outputs {
						pinmux = <PIN_PB15__GPIO>,
							 <PIN_PB14__GPIO>;
						output-low;
					};
					inputs {
						pinmux = <PIN_PB16__GPIO>;
						bias-disable;
					};
				};

				pinctrl_uart1_default: uart1_default {
					pinmux = <PIN_PD2__URXD1>,
						 <PIN_PD3__UTXD1>;
					bias-disable;
				};

				pinctrl_pwm0_default: pwm0_default {
					pinmux = <PIN_PB1__PWML1>,
						 <PIN_PB6__PWML2>,
						 <PIN_PB8__PWML3>;
					bias-disable;
				};

				pinctrl_usb_default: usb_default {
					pinmux = <PIN_PD19__GPIO>;
					bias-disable;
				};

				pinctrl_usba_vbus: usba_vbus {
					pinmux = <PIN_PD20__GPIO>;
					bias-disable;
				};
			};
		};
	};

	vdd_3v3: fixedregulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "VDD_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};

	panel_buttons {
		compatible = "gpio-keys";

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_key_gpio_default>;

		btn0 {
			label = "BTN0";
			gpios = <&pioA PIN_PB26 GPIO_ACTIVE_LOW>;
			linux,code = <BTN_0>;
			wakeup-source;
		};
		btn1 {
			label = "BTN1";
			gpios = <&pioA PIN_PB27 GPIO_ACTIVE_LOW>;
			linux,code = <BTN_1>;
			wakeup-source;
		};
		btn2 {
			label = "BTN2";
			gpios = <&pioA PIN_PB28 GPIO_ACTIVE_LOW>;
			linux,code = <BTN_2>;
			wakeup-source;
		};
	};

	lock_feedback {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_lock_feedback_default>;

		locked {
			label = "LOCKED";
			gpios = <&pioA PIN_PB2 GPIO_ACTIVE_LOW>;
			debounce-interval = <200>;
			linux,code = <BTN_3>;
		};
	};

	beeper {
		compatible = "gpio-beeper";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_beeper_gpio_default>;
		gpios = <&pioA PIN_PB29 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

        led_backlight {
                compatible = "gpio-backlight";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_backlight_gpio_default>;
                gpios = <&pioA PIN_PA31 GPIO_ACTIVE_HIGH>;
                default-on;
        };

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_led_gpio_default>;
		status = "okay"; /* Conflict with pwm0. */

		red {
			label = "red";
			gpios = <&pioA PIN_PA10 GPIO_ACTIVE_HIGH>;
		};

		green {
			label = "green";
			gpios = <&pioA PIN_PB0 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
	};

	chassis_fan {
		compatible = "pwm-fan";
		pwms = <&pwm0 1 40000 PWM_POLARITY_INVERTED>;
		pwm-value = <0>;
	};

	con_fan {
		compatible = "pwm-fan";
		pwms = <&pwm0 2 40000 PWM_POLARITY_INVERTED>;
		pwm-value = <0>;
	};

	pump_fan {
		compatible = "pwm-fan";
		pwms = <&pwm0 3 40000 PWM_POLARITY_INVERTED>;
		pwm-value = <0>;
	};
};
